@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Warning";
}
<i class="pull-left "><img src="~/img/icons8-home-48.png" /></i>
<span><h1>/Stock/Erreur</h1></span>


<section id="contact">
    <div class="container-fluid">
        <div class="col-6 offset-3">
            <p>Objectif existant</p>

            <div class="form-group">
                <p>Voulez-vous le modifier ou le supprimer <a asp-action="ListStock" class="btn btn-sm btn-primary float-center">ListStock</a></p>
            </div>
            <br />
            <div class="form-group">
                <p>Voulez-vous ajouter un nouvel objectif <a asp-action="CascadeDropDown" asp-controller="Cascade" class="btn btn-sm btn-primary float-center">Objectif</a></p>
            </div>
            
       </div>
    </div>
</section>
