@{
    ViewData["Title"] = "CascadeDopDown";
}
<html>
    <head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/cascade.js"></script>
    <script src="~/js/site.js"></script>
    </head>
    <body>
    <i class="pull-left "><img src="~/img/icons8-home-48.png" /></i>
    <span><h1>/Objectif/Créer</h1></span>

    <section id="contact">
        <div class="container-fluid">
            <div class="row wow fadeInUp">
            <div class="col-6 offset-3">
                <form method="post" asp-controller="ActionProj" asp-action="Index">
                    <div class="form-group">
                        <label>Programme</label>
                        <select class="form-control" id="Programme" name="Programme">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Projet</label>
                        <select class="form-control" id="Projet" name="Projet">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Action</label>
                        <select class="form-control" id="ActionProj" name="ActionProj">
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="text-center"><button type="submit" class="btn btn-sm btn-primary float-center">Valider les choix</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
    </body>
</html>

