@model DropDown.Models.Programme

@{
    ViewData["Title"] = "DeleteProgramme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<i class="pull-left "><img src="~/img/icons8-home-48.png" /></i>
<span><h1>/Programme/Supprimer le Programme</h1></span>


<h3>Etes vous surs de vouloir supprimer ce programme?</h3>
<section id="contact">
    <div class="container-fluid">
        <div class="row wow fadeInUp">
            <div class="col-6 offset-3">
    <h4>Programme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="DeleteProgramme">
        <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Supprimer" class="btn btn-primary mb-2" /> |
                    <a asp-action="ListProg">Revenir</a>
    </form>
            </div>
        </div>
    </div>
</section>