@model DropDown.Models.Programme

@{
    ViewData["Title"] = "EditProgramme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<i class="pull-left "><img src="~/img/icons8-home-48.png" /></i>
<span><h1>/Programme/Modifier Programme</h1></span>

<hr />
<section id="contact">
    <div class="container-fluid">
        <div class="row wow fadeInUp">
            <div class="col-6 offset-3">
        <form asp-action="EditProgramme">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <input type="submit" value="Enregistrer" class="btn btn-primary mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
            <a asp-action="ListProg">Revenir</a>
</div>

