@model IEnumerable<DropDown.Models.Programme>

@{
    ViewData["Title"] = "ListProg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<i class="pull-left "><img src="~/img/icons8-home-48.png" /></i>
<span><h1>/Programme/Liste des Programmes</h1></span>



<table class="styled-table">
    <thead>
        <tr>
            <th>
                Programmes:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditProgramme" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="ListProj" asp-route-id="@item.Id">Projets</a> |
                <a asp-action="DeleteProgramme" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="CreateProgramme" class="btn btn-primary mb-2">Nouveau programme</a>
</p>