@model DropDown.Models.ActionProj;

@{
    ViewData["Title"] = "Objectif";
}
<p>@Model.Projet.Programme.Name</p>
<p>@Model.Projet.Name</p>
<p>@Model.Name</p>

<div>
<a asp-action="Create">Create</a>
</div>